[Unit]
Description=Backend Abicoirr Application
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=ec2-user
Restart=always
RestartSec=5
ExecStart=/usr/bin/java -jar /etc/abicoirr-api/application.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
