<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account verification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }

    </style>
</head>
<body>
<div>
    <h1 th:text="${Name}">Hello, User</h1>
    <p>You registered an account on Abicoirr, before being able to use your account you need to verify that this is your email address by clicking below </p>
    <tr>
        <td align="center" style="border-radius: 3px;" bgcolor="#0178BA">
            <a th:href="${link}" target="_blank" style="font-size: 14px; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 2px; border: 1px solid #0178BA; display: inline-block;">Verify Account</a>
        </td>
    </tr>

<!--    Reference for future use-->

<!--    <table border="0" cellpadding="0" cellspacing="0" width="100%">-->
<!--        <tr>-->
<!--            <td bgcolor="#0178BA">-->
<!--                <table>-->
<!--                    <tr>-->
<!--                        <td style="padding: 40px 10px 40px 10px;"> </td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td bgcolor="#0178BA" align="center" style="padding: 0px 10px 0px 10px;">-->
<!--                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">-->
<!--                    <tr>-->
<!--                        <td bgcolor="#ffffff" align="center" valign="top" style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;">-->
<!--                            <h1 style="font-size: 40px; font-weight: 400; margin: 2;">Welcome to Abicoirr!</h1>-->
<!--                            <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw8BhozreeS5oZlAXbeIE4zTZfP-FixvfksQ&usqp=CAU" width="125" height="120" style="display: block; border: 0px;" />-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">-->
<!--                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">-->
<!--                    <tr>-->
<!--                        <td bgcolor="#ffffff" align="left" style="padding: 20px 30px 40px 30px; color: #666666; font-size: 18px; font-weight: 400; line-height: 25px;">-->
<!--                            <p style="margin: 0;">We're excited to have you get started. First, you need to verify your account. Just press the button below.</p>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td bgcolor="#ffffff" align="left">-->
<!--                            <table width="100%" border="0" cellspacing="0" cellpadding="0">-->
<!--                                <tr>-->
<!--                                    <td bgcolor="#ffffff" align="center" style="padding: 20px 30px 60px 30px;">-->
<!--                                        <table border="0" cellspacing="0" cellpadding="0">-->
<!--                                            <tr>-->
<!--                                                <td align="center" style="border-radius: 3px;" bgcolor="#0178BA">-->
<!--                                                    <a th:href="${link}" target="_blank" style="font-size: 20px; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #FFA73B; display: inline-block;">Verify Account</a>-->
<!--                                                </td>-->
<!--                                            </tr>-->
<!--                                        </table>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                            </table>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td bgcolor="#ffffff" align="left" style="padding: 0px 30px 0px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">-->
<!--                            <p style="margin: 0;">If that doesn't work, copy and paste the following link in your browser:-->
<!--                                <span th:text="${link}"></span>-->
<!--                            </p>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--&lt;!&ndash;                    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td bgcolor="#ffffff" align="left" style="padding: 20px 30px 20px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">&ndash;&gt;-->
<!--&lt;!&ndash;                            <p style="margin: 0;"><a href="<%= link %>" target="_blank" style="color: #0178BA;">Click here</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
<!--                    <tr>-->
<!--                        <td bgcolor="#ffffff" align="left" style="padding: 0px 30px 20px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">-->
<!--                            <p style="margin: 0;">If you have any questions, just reply to this email—we're always happy to help out.</p>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td bgcolor="#ffffff" align="left" style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">-->
<!--                            <p style="margin: 0;">Regards,<br>Abicoirr Team</p>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td bgcolor="#f4f4f4" align="center" style="padding: 30px 10px 0px 10px;">-->
<!--                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; margin-bottom: 25px;">-->
<!--                    <tr>-->
<!--                        <td bgcolor="#B8E2F2" align="center" style="padding: 30px 30px 30px 30px; border-radius: 4px 4px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">-->
<!--                            <h2 style="font-size: 20px; font-weight: 400; color: #111111; margin: 0;">Powered by</h2>-->
<!--                            <a href="https://appointy-team4.netlify.app/" target="_blank"><img src="https://i.ibb.co/6ttqHm5/Appointy12.png" width="220" style="margin-top: 15px;"/></a>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->

</div>
</body>
</html>